<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <h3>
            {{ title }}
          </h3>
      </div>
      <div class="col-xs-12">
          <a routerLink="/home" href="">Home</a>
          <a routerLink="/courses" href="">Courses</a>
          <a routerLink="/about">About</a>
          <br><br>
          <router-outlet></router-outlet>
          <!-- <app-home></app-home>
          <app-courses></app-courses>
          <app-about></app-about> -->
      </div>
  </div>
</div>


